In [14]:
import os
import pandas as pd
import numpy as np
import pybaseball

In [ ]:
TEAMS = [
    "ARI", "ATL", "BAL", "BOS", "CHC", "CHW", "CIN", "CLE", "COL", "DET",
    "FLA", "HOU", "KAN", "LAA", "LAD", "MIL", "MIN", "NYM", "NYY", "OAK",
    "PHI", "PIT", "SD", "SF", "SEA", "STL", "TB", "TEX", "TOR", "WAS"
]

START = 2010 
END = 2022

In [22]:
def collect_logs():

    for year in range(2010, 2022):
        for team in TEAMS:

c:\Users\albri\AppData\Local\Programs\Python\Python311\Lib\site-packages\pybaseball\team_game_logs.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
c:\Users\albri\AppData\Local\Programs\Python\Python311\Lib\site-packages\pybaseball\team_game_logs.py:36: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data = data.apply(pd.to_numeric, errors="ignore")

In [23]:
pd.options.display.max_columns = None
game_logs

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,3B,HR,RBI,BB,IBB,SO,HBP,SH,SF,ROE,GDP,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers,Thr,OppStart
0,1,Mar 28,False,PHI,"L,4-10",36,30,4,7,1,0,1,4,6,0,9,0,0,0,0,1,1,1,0.233,0.361,0.367,0.728,5,15,R,A.Nola(67)
1,2,Mar 30,False,PHI,"L,6-8",40,36,6,10,2,1,2,6,4,0,9,0,0,0,0,1,1,0,0.258,0.355,0.470,0.825,7,17,R,N.Pivetta(35)
2,3,Mar 31,False,PHI,"L,1-5",36,29,1,4,0,0,0,0,6,0,8,1,0,0,0,0,1,2,0.221,0.339,0.368,0.708,8,14,R,J.Arrieta(62)
3,4,Apr 1,True,CHC,"W,8-0",43,36,8,12,3,0,2,6,7,1,9,0,0,0,2,1,0,0,0.252,0.368,0.427,0.795,11,15,R,K.Hendricks(26)
4,5,Apr 3,True,CHC,"W,6-4",39,30,6,8,1,0,2,6,8,0,8,0,0,1,0,1,1,0,0.255,0.376,0.441,0.817,9,16,L,J.Lester(56)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Sep 24,False,KCR,"L,6-9",41,37,6,11,3,0,2,5,3,0,7,1,0,0,0,1,0,0,0.258,0.336,0.454,0.790,8,13,L,D.Duffy(48)
158,159,Sep 25,False,KCR,"W,10-2",48,40,10,14,4,0,0,10,7,0,10,0,0,1,0,0,0,0,0.258,0.337,0.454,0.791,11,13,L,M.Montgomery(47)
159,160,Sep 27,False,NYM,"L,2-4",39,35,2,9,0,0,0,2,1,0,11,2,1,0,0,0,2,0,0.258,0.337,0.453,0.790,10,15,R,M.Stroman(59)
160,161,Sep 28,False,NYM,"L,0-3",37,31,0,4,0,1,0,0,5,1,12,1,0,0,0,0,0,0,0.258,0.337,0.451,0.788,10,14,L,S.Matz(70)
161,162,Sep 29,False,NYM,"L,6-7",45,42,6,11,1,0,4,6,3,0,13,0,0,0,0,1,1,1,0.258,0.336,0.452,0.789,6,22,R,N.Syndergaard(62)